#root {
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
  text-align: center;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: black;
}

input[type=number]{
  display: flex;
  background: #f6f7fb;
  padding: 12px;
  width: 220px;
  border-radius: 15px;
  border: 1px solid transparent;
}