:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: #f1f3f6;
  background-color: #242424;
}


body {
  margin: 0;
  display: flex;
  min-width: 100%;
  align-items: center;
}

p{
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f1f3f6;
  }
}
